:root{
    --primary-text-color: #212121;
--paragraph-color: #757575;
--link-color:  #2196F3;
--background-color: rgba(33, 150, 243, 0.9);
--button-color: #FFFFFF;
--background-sheet-color: #FFFFFF;
--footer-color:#2F303A;
--footer-contacts-color: rgba(255, 255, 255, 0.6);
--footer-adress-color:#FFFFFF;
--goit-color:rgba(255, 255, 255, 0.4);
--background-team-color:#F5F4FA;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: var(--background-sheet-color);
    color: var(--paragraph-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Навигация по странице  */

.conteiner
{
    outline: var(--primary-text-color);

    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
outline: 2px solid tomato;
}

.conteiner.item{
    margin-top: 93px;
}

.header-container{
    background-color: var(--background-sheet-color);
} 

.text-nav a{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}


.accent:hover,
.accent:focus{
    color: var(--link-color);
}
 
 
 /* Контакты в шапке */

.text-contacts a{
   
    color: var(--paragraph-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}



/* Основные стили страницы */

a {
  text-decoration: none;
}
ul{
    list-style: none;
      padding: 0;
    margin: 0;
}

h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}

/* Невидимые элементы */

.invisible{
    display: none;
}

/* Кнопки страницы */

.button{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;  
}


/* Активные кнопки */

.button.primary{
    background-color: var(--background-color);
    color: var(--button-color);
}

.button.secondary{
    background-color: var(--background-team-color);
color: var(--primary-text-color);
}


/* Заголовки */

.main{
text-align: center;
}

.main-header{

  

 padding: 10px 32px;
 margin-top: 200px;

font-weight: 900;
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;
}


/* Заголовки меньшие */

.little-title{
  
margin-top: 94px;

    color: var(--primary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

}

/* Чем занимаемся */

.task{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
margin-top: 94px;
}



.link a{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}


/* команда */

.team{
    background-color: var(--background-team-color);
padding-top: 94px;
padding-bottom: 94px;
}

.title h3{    
    color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
margin-top: 30px;
}

.title p{
font-size: 16px;
line-height: 1.18;
margin-top: 10px;
}

.team-contact a{
    display: inline-block;
margin-top: 16px;
}

.features p{
font-size: 14px;
line-height: 1.71;
margin-top: 10px;
}

/* Наши клиенты */

.logo{
    margin-top: 50px;
}


/*Адресс и контакты */

.finish{
    background-color: var(--footer-color);
}

.adress-title{
    color: var(--footer-adress-color);
font-size: 14px;
line-height: 1.71;
font-style: normal;
}

.contacts a{
   color: var(--footer-contacts-color);
font-size: 14px;
line-height: 1.71;
font-style: normal;
}

.lets-go{
    color: var(--footer-adress-color);
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

/* Автор и год */

.go-it{
    color: var(--goit-color);
font-size: 12px;
line-height: 2;
text-align: center;
}


/* Наши проэкты */

.projects{
margin-top: 20px;

    color: var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.view{
    color: var(--paragraph-color);
font-size: 16px;
line-height: 1.87;
}

.about{
margin-top: 4px;

    color: var(--primary-text-color);
   font-size: 18px;
line-height: 1.55;
}

.picture{
    margin-top: 34px;
}